.articles-page{
    margin: auto;
    padding: 0 20px;
}

    
.articles{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}
h2{
    margin-left: 50px;
}